body {
    background-image: url("newg site/images mobil.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    background-blend-mode:color-burn;
    filter: blur(5);
    height: 100%;
    

    
    
    
}
#demo {
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
#cots {
    width: 500px;
    height: 400px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(39, 38, 38);
    border-radius: 10px;
    box-sizing: border-box;
    
    
}
h2 {
    color: rgb(154, 154, 224);
    font-size: 50px;
    font-style: oblique;
    
}
#newg {
    color: red;
    font-family: cursive;
    font-size: 50px;
    margin-top: 0px;
    font-weight: bold;
    text-decoration: underline;
    backface-visibility: hidden;
    font-palette: ;
}
#signup,#login{
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    color: green;
    
}
#signup:hover,#login:hover{
    background-color: red;
    font: message-box;
}
#form{
    display: grid;
    justify-content: center;
}
.feeld{
    width: 250px;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
}
.feeld:hover{
    background-color: rgb(198, 187, 187);
}
#header{
    display: flex;
    position: relative;
    justify-content: space-between;
    
}
nav{
    /* position: absolute;
    left: 75%; */
}
a{
    margin: 10px;
    text-decoration: none;
    color: aqua;
}
@media screen and (max-width:500px) {
    #cots {
        width: 100px;
        height: 130px;
        text-align: center;
        backdrop-filter: blur(10px);
        border: 1px solid rgb(39, 38, 38);
        border-radius: 10px;
        box-sizing: border-box;
    }
    body{
        ;
    }
    h2 {
    color: blue;
    font-size: 10px;
    font-style: oblique;
    
    }
    #newg {
        color: red;
        font-family: cursive;
        font-size: 20px;
        margin-top: 0px;
        font-weight: bold;
        text-decoration: underline;
        backface-visibility: hidden;
        
    }
    #signup,#login{
        height: 15px;
        width: 40px;
        margin: -1px;
        border-radius: 20px;
        color: green;
        font-size: 5px;
        justify-content: baseline;
        
        

        right: 40%;
        
    }
    
    #signup:hover,#login:hover{
        background-color: red;
        font: message-box;
    }
    #form{
        display: grid;
        justify-content: center;
    }
    .feeld{
        width: 70px;
        height: 10px;
        margin-top: 1px;
        border-radius: 15px;
        font-size: 6px;
    }
    .feeld:hover{
        background-color: rgb(198, 187, 187);
    }
    #header{
        display: flex;
        position: relative;
        justify-content: space-between;
        
    }
    nav{
        /* position: absolute;
        left: 75%; */
    }
    a{
        margin-right: 0px;
        margin-top: 0px;
        text-decoration: none;
        font-size: 7px;
        color: aqua;
    }
    
    }
}



    
